@import url("../../App.css");

#projects {
  padding: 100px 0;
  margin: auto;
}
#projects .projects__title {
  text-align: center;
  font-size: calc(18 / 16 * 1rem);
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

#projects .projects__title .primary-color {
  color: var(--blue-light-theme);
}

#projects .projects__container--primary .wrapper {
  margin: 200px 0;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#projects .projects__container--secondary .wrapper {
  display: none;
}

#projects .projects__container--primary .wrapper:first-child,
#projects .projects__container--primary .wrapper:nth-child(3),
#projects .projects__container--primary .wrapper:nth-child(5),
#projects .projects__container--primary .wrapper:nth-child(7) {
  flex-direction: row-reverse;
}

#projects .wrapper video {
  width: 350px;
}

#projects .wrapper .project .project__wrapper {
  display: flex;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}

#projects .wrapper .project .project__wrapper h3 {
  font-weight: 700;
  font-size: 1rem;
}

#projects .wrapper .project .project__wrapper .arrow {
  margin: 0 5px;
  font-size: calc(20 / 16 * 1rem);
  transition: all 0.3s ease;
}

#projects .wrapper .project .project__wrapper .arrow:first-child {
  margin-left: 20px;
}

#projects .wrapper .project .project__wrapper .arrow:hover {
  transform: translateY(-5px);
}

#projects .wrapper p {
  width: 400px;
  line-height: 1.5;
  margin-bottom: 15px;
  font-size: 1rem;
}

#projects .project__language span {
  font-size: calc(12 / 16 * 1rem);
  line-height: 2.8;
  margin-right: 6px;
  padding: 3px 5px;
  font-weight: 600;
  border-radius: 3px;
  color: var(--blue-light-theme);

  border: 1px solid var(--blue-light-theme);
}

@media screen and (min-width: 1500px) {
  #projects .projects__title {
    font-size: calc(20 / 16 * 1rem);
    margin-bottom: 30px;
  }

  #projects .projects__container--primary .wrapper {
    margin: 200px 0;
  }

  #projects .wrapper video {
    width: 500px;
  }

  #projects .wrapper .project .project__wrapper h3 {
    font-size: calc(20 / 16 * 1rem);
  }

  #projects .wrapper .project .project__wrapper .arrow {
    font-size: calc(24 / 16 * 1rem);
  }

  #projects .wrapper p {
    width: 600px;
    font-size: calc(20 / 16 * 1rem);
  }

  #projects .project__language span {
    font-size: 1rem;
  }
}

@media screen and (max-width: 790px) {
  #projects {
    padding: 100px 0 50px 0;
  }

  #projects .projects__container--primary .wrapper {
    display: none;
  }

  #projects .projects__container--secondary .wrapper {
    margin: 100px 0;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  #projects .projects__container--secondary .wrapper video {
    width: 400px;
    margin-bottom: 20px;
  }
}

@media screen and (max-width: 420px) {
  #projects .projects__container--secondary .wrapper {
    margin: 100px 0;
  }

  #projects .project__language.first {
    display: none;
  }

  #projects .project__language.second {
    display: block;
  }
  #projects .projects__container--secondary .wrapper video {
    width: 300px;
  }

  #projects .wrapper p {
    width: 300px;
  }
}
