@import url("../../App.css");
#about {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

#about .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#about .wrapper {
  max-width: 500px;
}

#about .wrapper .about__title,
#about .wrapper .about__title .primary-color {
  font-size: calc(18 / 16 * 1rem);
  letter-spacing: 1px;
  margin-bottom: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

#about .wrapper .about__title .primary-color {
  color: var(--blue-light-theme);
}

#about .wrapper p {
  font-weight: 400;
  text-align: justify;
  font-size: calc(18 / 16 * 1rem);
}

/* #about .wrapper .thick__text {
  font-weight: 600;
} */

@media screen and (max-width: 800px) {
  #about {
    align-items: center;
    flex-direction: column-reverse;
    justify-content: center;
  }

  #about img {
    display: none;
  }
}

@media screen and (max-width: 690px) {
  #about .wrapper {
    max-width: 400px;
  }

  #about .wrapper .about__title,
  #about .wrapper .about__title .primary-color {
    font-size: calc(18 / 16 * 1rem);

    margin-bottom: 30px;
  }

  #about .wrapper p {
    font-size: calc(18 / 16 * 1rem);
  }
}

@media screen and (max-width: 470px) {
  #about .wrapper {
    max-width: 350px;
  }

  #about .wrapper .about__title,
  #about .wrapper .about__title .primary-color {
    font-size: 1rem;
    margin-bottom: 20px;
  }

  #about .wrapper p {
    font-size: 1rem;
    text-align: left;
  }
}
