@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --white: #fff;
  --navy: #171c28;
  --black: #444452;
  --text: #afafbf;
  --blue-dark-theme: #007bff;
  --blue-light-theme: #218aff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.thick__text {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.app {
  display: flex;
  position: relative;
  flex-direction: column;
  scroll-behavior: smooth;
}
