footer {
  display: flex;
  align-items: center;
  padding: 0 50px 30px 50px;
  justify-content: space-between;
}

footer h3 .emoji.rockon {
  width: 20px;
  margin: 0 5px;
}

footer .social-media a {
  margin: 25px;
  font-weight: 600;
  text-transform: uppercase;
  font-size: calc(14 / 16 * 1rem);
}

.social-media-mobile {
  display: none;
}

.social-media-mobile a {
  margin: 10px;
}

.social-media-mobile a * {
  color: var(--blue-light-theme);
  font-size: calc(20 / 16 * 1rem);
}

@media screen and (max-width: 800px) {
  footer h3 {
    font-size: 0.9rem;
  }

  footer h3 .emoji.rockon {
    width: 18px;
    margin: 0 2px;
  }

  footer .social-media {
    display: none;
  }

  .social-media-mobile {
    display: flex;
  }
}

@media screen and (max-width: 500px) {
  footer {
    flex-direction: column-reverse;
  }
}
