@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --white: #fff;
  --black: #444452;
  --blue-light-theme: #218aff;

  --navy: #171c28;
  --white-dark-theme: #e7e7e7;
  --text-dark-theme: #afafbf;
  --blue-dark-theme: #007bff;
}
::selection {
  color: var(--black);
  background: #bfe2ff;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.thick__text {
  font-weight: 700;
}

a {
  text-decoration: none;
}

body {
  display: flex;
  position: relative;
  flex-direction: column;
  scroll-behavior: smooth;
  color: var(--text);
  background: var(--background-color);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --background-color: var(--white);
  --blue: var(--blue-light-theme);
}

body.dark {
  --background-color: var(--navy);
  --small-title: var(--white-dark-theme);
  --text: var(--text-dark-theme);
  --blue: var(--blue-dark-theme);
}
.emoji,
.icon,
.project__language span {
  user-select: none;
}

/* Dark Mode Intro*/
body .intro .intro__contact a::after {
  background: var(--blue);
}
body .intro .intro__text,
body .intro .intro__text .thick__text,
body .intro .intro__text span,
body .toggle-btn .icon *,
body .about .wrapper p .thick__text,
body .toggle-btn .icon,
body .about .wrapper .wrapper__skills h3,
.projects .project h3,
footer h3 {
  color: var(--small-title);
}

body .about__title,
body .projects .wrapper .project .project__wrapper .arrow *,
body .projects .wrapper .project .project__wrapper .arrow,
body .projects .wrapper .project .project__wrapper a,
body .projects__title,
footer a {
  color: var(--blue);
}

body .project .project__language span {
  border: 1px solid var(--blue);
  color: var(--blue);
}

body .about .wrapper .wrapper__skills ul li,
body .about .wrapper p,
.projects .project p {
  color: var(--text);
}
