@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap");

:root {
  --white: #fff;
  --black: #444452;
  --grey: #9391a2;
  --blue-light-theme: #218aff;
  --blue-dark-theme: #007bff;

  --body--dark-theme: #202023;
  --title-dark-theme: #e7e7e7;
  --text-dark-theme: #afafbf;
  /* --text-dark-theme: #8892b0; */
}
::selection {
  color: var(--black);
  background: #bfe2ff;
}

* {
  margin: 0;
  padding: 0;
  font-weight: 500;
  box-sizing: border-box;
  color: var(--black);
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
}

.thick__text {
  font-weight: 700;
}

a {
  text-decoration: none;
}

.app {
  overflow: hidden;
  position: relative;
  scroll-behavior: smooth;
}

body {
  scroll-behavior: smooth;
  color: var(--text);
  background: var(--body);
  transition: background 0.3s ease-in-out, color 0.6s ease-in-out;
}

body.light {
  --text: var(--black);

  --body: var(--white);
  --blue: var(--blue-light-theme);
}

body.dark {
  --body: var(--body--dark-theme);
  --title: var(--title-dark-theme);
  --text: var(--text-dark-theme);
  --blue: var(--blue-dark-theme);
}
.emoji,
.icon,
.project__language span {
  user-select: none;
}

body.light::-webkit-scrollbar {
  margin-right: 30px;
  background-color: rgb(225, 225, 225);
  width: 8px;
}
body.light::-webkit-scrollbar-track {
  background-color: transparent;
}
body.light::-webkit-scrollbar-thumb {
  background-color: var(--text-dark-theme);
  border-radius: 16px;
  border: none;
}
body.light::-webkit-scrollbar-button {
  display: none;
}

body.dark::-webkit-scrollbar {
  margin-right: 30px;
  background-color: #283043;
  width: 8px;
}
body.dark::-webkit-scrollbar-track {
  background-color: transparent;
}
body.dark::-webkit-scrollbar-thumb {
  background-color: var(--blue);
  border-radius: 16px;
  border: none;
}
body::-webkit-scrollbar-button {
  display: none;
}
